{% extends 'frontoffice/base.html.twig' %}

{% block body %}
    <div class="entry-content">
        <div class="section mcb-section" style="padding-top:110px; padding-bottom:290px; background-color:#edd9d5; background-image:url(frontoffice/images/home_weddingdresses_bgsection3.png); background-repeat:no-repeat; background-position:center top;">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one valign-top clearfix">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix">
                                <h6>SOBRE NÓS</h6>
                                <h2>Nós somos família</h2>
                            </div>
                        </div>
                        <div class="column mcb-column one-second column_column">
                            <div class="column_attr clearfix" style="padding:0 7% 0 0;">

                                <p>Somos o portal de casamentos líder no mundo, mas além disso somos uns românticos que ajudam os casais apaixonados a organizar o seu casamento,
                                    um dia único para aproveitar com a família e os amigos que envolve muitas horas de preparação.
                                </p>
                            </div>
                        </div>
                        <div class="column mcb-column one-second column_column">
                            <div class="column_attr clearfix" style="padding:0 7% 0 0;">

                                <p>
                                    Gostamos de partilhar experiências com muitas noivas e noivos, emocionamo-nos com as suas histórias e ajudamos no processo de planear o seu grande dia.
                                    Isto tudo é feito com a colaboração de milhares de empresas especializadas e com as quais crescemos.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section mcb-section" style="padding-top:0px; padding-bottom:0px; background-color:">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one valign-top move-up clearfix" style="margin-top:-250px" data-mobile="no-up">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                <div class="image_wrapper"><img class="scale-with-grid" src="{{ asset('frontoffice/images/home_weddingdresses_pic15.jpg') }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section mcb-section" style="padding-top:0px; padding-bottom:0px; background-color:">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one valign-top move-up clearfix" style="margin-top:-330px" data-mobile="no-up">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one-second column_placeholder">
                            <div class="placeholder">
                                &nbsp;
                            </div>
                        </div>
                        <div class="column mcb-column two-fifth column_column">
                            <div class="column_attr clearfix" style="background-color:#fe923c; padding:60px 50px 45px;">
                                <h6>MORADA</h6>
                                <h2>nossa loja</h2>
                                <hr class="no_line" style="margin: 0 auto 10px;" />
                                <p style="background: url(frontoffice/images/home_weddingdresses_pic16.png) no-repeat left top; padding-left: 40px;">
                                    Praceta Padre Floro Lote 25,<br>
                                    4430-476 Vila Nova de Gaia
                                </p>
                                <hr class="no_line" style="margin: 0 auto 10px;" />
                                <h6>Segunda - Sexta feira, 10h- 19h</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section mcb-section" style="padding-top:70px; padding-bottom:70px; background-color:">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one valign-top clearfix">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column three-fifth column_column">
                            <div class="column_attr clearfix">
                                <h2>A nossa promessa consigo</h2>
                                <h5>Ut ultricies imperdiet sodales. Aliquam fringilla aliquam ex sit amet elementum. Proin bibendum sollicitudin feugiat.</h5>
                                <p>
                                    Se tem uma ideia específica de como quer ser e se sentir, ou se não sabe por onde começar, tenha a certeza de que conseguiremos que em cada celebração em que viva como uma noiva,
                                    que brilhe com a sua própria luz, sentindo a melhor versão de si mesma.
                                </p>
                            </div>
                        </div>
                        <div class="column mcb-column one column_divider">
                            <hr class="no_line" />
                        </div>
                        <div class="column mcb-column two-fifth column_placeholder">
                            <div class="placeholder">
                                &nbsp;
                            </div>
                        </div>
                        <div class="column mcb-column three-fifth column_column">
                            <div class="column_attr clearfix">
                                <h2>A nossa promessa consigo</h2>
                                <h5>Acreditamos que ser noiva tem de ser tão mágico quanto o dia do casamento.
                                    É por isso que garantimos que esta fase icônica da vida de uma mulher receba
                                    a atenção e o tratamento que merece!  </h5>
                                <p>

                                </p>
                            </div>
                        </div>
                        <div class="column mcb-column one column_divider">
                            <hr class="no_line" />
                        </div>
                        <div class="column mcb-column one column_button">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
