{% extends 'frontoffice/base.html.twig' %}

{% block body %}
    <div class="entry-content">
        <div class="section mcb-section" style="padding-top:110px; padding-bottom:290px; background-color:#edd9d5; background-image:url(frontoffice/images/home_weddingdresses_bgsection3.png); background-repeat:no-repeat; background-position:center top;">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one valign-top clearfix">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix">
                                <h6>ABOUT US</h6>
                                <h2>We are family</h2>
                            </div>
                        </div>
                        <div class="column mcb-column one-second column_column">
                            <div class="column_attr clearfix" style="padding:0 7% 0 0;">
                                <h5>Vivamus in diam turpis. In condimentum maximus tristique. Maecenas non laoreet odio.</h5>
                                <p>
                                    Fusce lobortis porttitor purus, vel vestibulum libero pharetra vel. Pellentesque lorem augue, fermentum nec nibh et, fringilla sollicitudin orci. Integer pharetra magna non ante.
                                </p>
                            </div>
                        </div>
                        <div class="column mcb-column one-second column_column">
                            <div class="column_attr clearfix" style="padding:0 7% 0 0;">
                                <h5>Diam turpis. In condimentum maximus tristique. Maecenas non laoreet odio.</h5>
                                <p>
                                    Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt ut eros.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section mcb-section" style="padding-top:0px; padding-bottom:0px; background-color:">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one valign-top move-up clearfix" style="margin-top:-250px" data-mobile="no-up">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_image">
                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                <div class="image_wrapper"><img class="scale-with-grid" src="{{ asset('frontoffice/images/home_weddingdresses_pic15.jpg') }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section mcb-section" style="padding-top:0px; padding-bottom:0px; background-color:">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one valign-top move-up clearfix" style="margin-top:-330px" data-mobile="no-up">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one-second column_placeholder">
                            <div class="placeholder">
                                &nbsp;
                            </div>
                        </div>
                        <div class="column mcb-column two-fifth column_column">
                            <div class="column_attr clearfix" style="background-color:#fe923c; padding:60px 50px 45px;">
                                <h6>ADDRESS</h6>
                                <h2>Our shop</h2>
                                <hr class="no_line" style="margin: 0 auto 10px;" />
                                <p style="background: url(frontoffice/images/home_weddingdresses_pic16.png) no-repeat left top; padding-left: 40px;">
                                    Level 13, 2 Elizabeth St,
                                    <br> Melbourne, Victoria 3000
                                </p>
                                <hr class="no_line" style="margin: 0 auto 10px;" />
                                <h6>MONDAY - SATURDAY, 10AM - 6PM</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section mcb-section" style="padding-top:70px; padding-bottom:70px; background-color:">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one valign-top clearfix">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column three-fifth column_column">
                            <div class="column_attr clearfix">
                                <h2>Proin bibendum</h2>
                                <h5>Ut ultricies imperdiet sodales. Aliquam fringilla aliquam ex sit amet elementum. Proin bibendum sollicitudin feugiat.</h5>
                                <p>
                                    Curabitur ut egestas justo, vitae molestie ante. Integer magna purus, commodo in diam nec, pretium auctor sapien.
                                </p>
                            </div>
                        </div>
                        <div class="column mcb-column one column_divider">
                            <hr class="no_line" />
                        </div>
                        <div class="column mcb-column two-fifth column_placeholder">
                            <div class="placeholder">
                                &nbsp;
                            </div>
                        </div>
                        <div class="column mcb-column three-fifth column_column">
                            <div class="column_attr clearfix">
                                <h2>Fusce lobortis porttitor</h2>
                                <h5>Vivamus in diam turpis. In condimentum maximus tristique. Maecenas non laoreet odio.</h5>
                                <p>
                                    Fusce lobortis porttitor purus, vel vestibulum libero pharetra vel. Pellentesque lorem augue, fermentum nec nibh et, fringilla sollicitudin orci.
                                </p>
                            </div>
                        </div>
                        <div class="column mcb-column one column_divider">
                            <hr class="no_line" />
                        </div>
                        <div class="column mcb-column one column_button">
                            <div class="button_align align_right">
                                <a class="button button_size_2 button_theme button_js" href="#" 0><span class="button_label">Our collection</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
