{% extends 'frontoffice/base.html.twig' %}
{% block body %}
    <div class="entry-content">
        <div class="section mcb-section" style="padding-top:110px; padding-bottom:70px; background-color:#edd9d5; background-image:url(frontoffice/images/home_weddingdresses_bgsection3.png); background-repeat:no-repeat; background-position:center top;">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one valign-top clearfix">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column one column_column">
                            <div class="column_attr clearfix">
                                <h6>CONTACTO</h6>
                                <h2>Venha visitar a nossa loja</h2>
                            </div>
                        </div>
                        <div class="column mcb-column one-third column_column">
                            <div class="column_attr clearfix" style="background-image:url('frontoffice/images/home_weddingdresses_pic17.png'); background-repeat:no-repeat; background-position:left top; padding:0 7% 0 50px;">
                                <h5> Praceta Padre Floro Lote 25,

                                    <br>  4430-476 Vila Nova de Gaia
                                </h5>
                                <p>
                                    Segunda - Sexta feira, 10h- 19h
                                </p>
                            </div>
                        </div>
                        <div class="column mcb-column one-third column_column">
                            <div class="column_attr clearfix" style="background-image:url('frontoffice/images/home_weddingdresses_pic18.png'); background-repeat:no-repeat; background-position:left top; padding:0 7% 0 50px;">
                                <h6 style="margin-bottom: 7px;">PHONE</h6>
                                <h4 class="themecolor">+331 21 047 1616</h4>
                                <hr class="no_line" style="margin: 0 auto 5px;" />
                                <h6 style="margin-bottom: 7px;">FAX</h6>
                                <h4 class="themecolor">+33 (0) 3 8376 6284</h4>
                            </div>
                        </div>
                        <div class="column mcb-column one-third column_column">
                            <div class="column_attr clearfix" style="background-image:url('frontoffice/images/home_weddingdresses_pic19.png'); background-repeat:no-repeat; background-position:left top; padding:0 7% 0 50px;">
                                <h6 style="margin-bottom: 7px;">EMAIL</h6>
                                <h4 class="themecolor"><a href="#">correia.wedding@hotmail.com</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock%}